/* Fonts */
$EYA-OpenSans:'Open Sans', sans-serif;

/* Colours */
$EYA-light-grey:#F7F7F7;
$EYA-off-white:#EAEAEA;
$EYA-white:#fff;
$EYA-pink:#C5327F;
$EYA-purple:#772367;
$EYA-dark-grey:#4C4C4C;
$EYA-green:#94B733;
$EYA-light-green:#A9CF3F;
$EYA-black:#000;
$EYA-dark-trans: rgba(0, 0, 0, 0.8);

/* Graphics & Backgrounds */
$EYA-colours-stripe:url('../images/top-c-stripe.png');
$EYA-pink-pattern:url('../images/pink-pattern.png');

/* Includes */
$EYA-transition: all 0.2s ease-in-out;

